@page
@model AutoArsenal_App.Pages.Account.LoginModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login";
}
@if (TempData["ErrorOnServer"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Error: @TempData["ErrorOnServer"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center" style="color: black;">Login</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Username -->
                                <div class="form-floating mt-2">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Username"
                                           id="username"
                                           asp-for="Credentials.Username"
                                           required>
                                    <label for="username">Username</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <!-- Password -->
                                <div class="form-floating mt-2">
                                    <input type="password"
                                           class="form-control"
                                           placeholder="Password"
                                           id="password"
                                           asp-for="Credentials.Password"
                                           required>
                                    <label for="password">Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <!-- Center the button -->
                            <button type="submit" class="btn btn-primary btn-lg">Login</button> <!-- Beautify the button -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
